@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/vendor/pagination/*.blade.php';

@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true; /* set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: dark; /* color of browser-provided UI */

    --color-primary: #e73028;
    --color-secondary: #437f97;
}

@theme {
    --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    min-height: 100vh;
}

/* FullCalendar */

:root {
    --border-color: color-mix(
        in oklab,
        var(--color-base-content) 15%,
        transparent
    );
    --fc-small-font-size: 0.85em;
    --fc-page-bg-color: var(--background-100);
    --fc-neutral-bg-color: hsla(0, 0%, 82%, 0.3);
    --fc-neutral-text-color: grey;
    --fc-border-color: var(--border-color);
    --fc-button-text-color: #fff;
    --fc-button-bg-color: var(--color-primary);
    --fc-button-border-color: var(--color-primary);
    --fc-button-hover-bg-color: var(--primary-600);
    --fc-button-hover-border-color: var(--primary-600);
    --fc-button-active-bg-color: var(--primary-700);
    --fc-button-active-border-color: var(--primary-700);
    --fc-event-bg-color: var(--color-primary);
    --fc-event-border-color: var(--color-primary);
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, 0.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 79, 40, 0.15);
    --fc-now-indicator-color: red;
}

.fc-daygrid-event-harness,
.fc-h-event {
    border: none !important;
}

.fc-col-header-cell-cushion {
    color: var(--text-100);
}

hr {
    border-color: var(--border-color);
}

.fc .fc-daygrid-body {
    position: static;
}

dialog:focus {
    outline: none !important;
    box-shadow: none !important;
}

.menu-padding {
    padding-top: calc(0.25rem * 2);
}

.menu-user-label {
    padding: 0;
    pointer-events: none;
    cursor: default;
}

.menu-user-label > div {
    min-height: 64px;
    padding: 0.5rem 0.75rem;
}

.hr-border {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--border-color);
}
